In [1]:
import pandas as pd
import datetime
import calendar

In [2]:
players_df = pd.read_csv("Resources/player_info.csv")
games_df = pd.read_csv("Resources/game.csv")
skaters_df = pd.read_csv("Resources/game_skater_stats.csv")
goalies_df = pd.read_csv("Resources/game_goalie_stats.csv")

In [ ]:
# players_df.head()

In [3]:
players_rmv = players_df[["player_id","firstName","lastName","nationality","birthCity","birthDate"]]
players_rmv.head()

   player_id firstName      lastName nationality birthCity   birthDate
0    8467412    Alexei  Ponikarovsky         UKR      Kiev  1980-04-09
1    8468501     Anton    Volchenkov         RUS    Moscow  1982-02-25
2    8459670     Kimmo       Timonen         FIN    Kuopio  1975-03-18
3    8471233    Travis         Zajac         CAN  Winnipeg  1985-05-13
4    8455710    Martin       Brodeur         CAN  Montreal  1972-05-06

In [4]:
players_rmv["birthMonth"] = pd.DatetimeIndex(players_rmv["birthDate"]).month

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [5]:
players_rmv.head()

,player_id,firstName,lastName,nationality,birthCity,birthDate,birthMonth
0,8467412,Alexei,Ponikarovsky,UKR,Kiev,1980-04-09,4
1,8468501,Anton,Volchenkov,RUS,Moscow,1982-02-25,2
2,8459670,Kimmo,Timonen,FIN,Kuopio,1975-03-18,3
3,8471233,Travis,Zajac,CAN,Winnipeg,1985-05-13,5
4,8455710,Martin,Brodeur,CAN,Montreal,1972-05-06,5

In [6]:
players_rmv["birthMonthName"] = players_rmv.apply(lambda row: calendar.month_name[row["birthMonth"]], axis=1)
players_rmv.head()
#.month_abbr

,player_id,firstName,lastName,nationality,birthCity,birthDate,birthMonth,birthMonthName
0,8467412,Alexei,Ponikarovsky,UKR,Kiev,1980-04-09,4,April
1,8468501,Anton,Volchenkov,RUS,Moscow,1982-02-25,2,February
2,8459670,Kimmo,Timonen,FIN,Kuopio,1975-03-18,3,March
3,8471233,Travis,Zajac,CAN,Winnipeg,1985-05-13,5,May
4,8455710,Martin,Brodeur,CAN,Montreal,1972-05-06,5,May

In [ ]:
# skaters_df.head()

In [7]:
skaters_rmv = skaters_df[["game_id","player_id","assists","goals"]]
skaters_rmv.head()

      game_id  player_id  assists  goals
0  2012030221    8471958        0      0
1  2012030221    8471339        1      0
2  2012030221    8471873        0      0
3  2012030221    8473432        0      0
4  2012030221    8470192        0      0

In [ ]:
# goalies_df.head()

In [8]:
goalies_rmv = skaters_df[["game_id","player_id","assists","goals"]]
goalies_rmv.head()

      game_id  player_id  assists  goals
0  2012030221    8471958        0      0
1  2012030221    8471339        1      0
2  2012030221    8471873        0      0
3  2012030221    8473432        0      0
4  2012030221    8470192        0      0

In [ ]:
# games_df.head()

In [9]:
skater_goalie = pd.concat([goalies_rmv, skaters_rmv], axis= 0, join="outer")
skater_goalie.head()

      game_id  player_id  assists  goals
0  2012030221    8471958        0      0
1  2012030221    8471339        1      0
2  2012030221    8471873        0      0
3  2012030221    8473432        0      0
4  2012030221    8470192        0      0

In [ ]:
# skater_goalie_cmb = skater_goalie.groupby(["player_id"], as_index=False).aggregate(sum)
# skater_goalie_cmb.head(20)

In [10]:
player_all = skater_goalie.merge(players_rmv, how="outer", on="player_id")
player_all.head()

,game_id,player_id,assists,goals,firstName,lastName,nationality,birthCity,birthDate,birthMonth,birthMonthName
0,2.012030e+09,8471958,0.0,0.0,Dan,Girardi,CAN,Welland,1984-04-29,4,April
1,2.012030e+09,8471958,1.0,0.0,Dan,Girardi,CAN,Welland,1984-04-29,4,April
2,2.012030e+09,8471958,0.0,0.0,Dan,Girardi,CAN,Welland,1984-04-29,4,April
3,2.012030e+09,8471958,0.0,0.0,Dan,Girardi,CAN,Welland,1984-04-29,4,April
4,2.012030e+09,8471958,0.0,1.0,Dan,Girardi,CAN,Welland,1984-04-29,4,April

In [13]:
create_csv = player_all.to_csv("Resources/combined_data.csv")

In [ ]:
# players_final = player_all.groupby(["player_id"])
# players_final.head()

In [ ]:
# join 3

In [ ]:
# modify

In [ ]:
# join 4

In [ ]:
# modify

In [ ]:
# table 1 scatter plot

In [ ]:
#table 2 histogram

In [ ]:
#table 3 geomap

In [ ]:
# table 4 player table

In [ ]:
# export csvs